.container{
    
    
    width: 50vw;
    background-color: lightgreen;
    text-align: center;
    height: fit-content;
    width: fit-content;

    -moz-box-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    display:"flex" 
    }
.no-of-notes{
    display:table-cell;
    vertical-align:middle;
    border: 1px solid ;
    border-color: black;
    
    
}
